http://ecotron.co.in, http://www.ecotron.co.in, http://play.ecotron.co.in {
    reverse_proxy ecotron-web:3000
}

http://api.ecotron.co.in, http://srv.ecotron.co.in {
    reverse_proxy ecotron-api:3001
}
