ecotron.co.in, www.ecotron.co.in, play.ecotron.co.in, api.ecotron.co.in, srv.ecotron.co.in {
    tls internal

    @api host api.ecotron.co.in srv.ecotron.co.in
    handle @api {
        reverse_proxy ecotron-api:3001
    }

    handle {
        reverse_proxy ecotron-web:3000
    }
}
